/* CONFIG */
/* PARTIALS */
body {
  font-family: "Dancing Script", cursive;
  font-size: 16px;
  margin: 0 auto;
  color: white;
  background-color: #212C8C;
  margin: 0 auto;
  text-align: center; }

.wrapper {
  width: 480px;
  height: auto;
  margin: 0 auto; }

img {
  width: 300px;
  height: 300px; }

.info {
  padding: 0 18px;
  background-color: #244A63;
  display: none;
  width: 400px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.acordeon {
  font-family: "Dancing Script", cursive;
  background-color: #212C8C;
  color: white;
  border: 4px solid black;
  font-weight: bold;
  transition: 0.4s;
  width: 445px;
  text-align: center;
  font-size: 18px;
  float: left;
  border-radius: 10px;
  display: block; }

.acordeon:hover {
  background-color: #0E80CA; }
