@charset "UTF-8";
/* Helpers */
/* Helpers */
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0; }

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 42px; }

h2 {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase; }

p {
  color: #ffffff;
  text-align: center;
  font-size: 17px; }

.wrapper {
  width: 1100px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*Header*/
#color-one {
  background-color: #87509c; }

#header {
  position: relative; }

/*logo*/
#logo {
  padding-top: 58px;
  padding-left: 42px; }

/*Menu */
#nav-list {
  padding-top: 53px;
  position: absolute;
  top: 0;
  right: 0; }

#nav-list li {
  list-style: none;
  float: left; }

#nav-list li + li {
  margin-left: 20px; }

#nav-list a {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

/* hover del menu */
.a-hover {
  padding: 5px 10px;
  border-radius: 4px; }

.a-hover:hover {
  background-color: #643a79;
  padding: 5px 10px;
  border-radius: 4px; }

/* boton */
#color-btn {
  margin-bottom: 145px;
  margin-top: 145px; }
  #color-btn a {
    background-color: #eb7d4b;
    text-decoration: none;
    width: 294px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    text-transform: uppercase; }

.modal{
  background-color: orangered;
  height: 300px;
  width: 600px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 30px;
  position: absolute;
  border-radius: 5px;
  left: 25px;
  bottom: 20px;
  display: none;
  margin-left: 340px;
  margin-top: 300px; 
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.cancelar {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 600px;
  bottom: 315px; }

#over {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.pixel {
  width: 30%;
  height: 30%; }

#miModal a:hover {
  background-color: #c9501a; }

.hidden{
  display: none;
}

.active{
  display: block;
}

/* espacio entre el h1 y el boton */
#color-btn h1 {
  margin-bottom: 63px; }

/* Main */
#color-two {
  background-color: #17c2a4; }

#main-title {
  padding-top: 115px; }
  #main-title h1 {
    text-transform: uppercase; }

/*cajas*/
.box {
  text-align: center;
  float: left;
  width: 275px;
  padding-top: 80px;
  padding-bottom: 130px; }

/*Footer¨*/
#color-three {
  background-color: #344b8e; }

/* Menu del footer */
#footer-nav {
  padding-top: 46px;
  padding-bottom: 86px; }

#footer-nav-list li {
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

#footer-nav-list li + li {
  margin-left: 55px; }

#footer-nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px; }

/* Hover del menu del footer */
#footer-nav-list a:hover {
  color: #30bae7; }
