

//Variables//

$font: 'Titillium Web', sans-serif;
$font-color: #ffffff;
$aling: center;
$colorone:#87509c;
$color_boton:#eb7d4b;
$color_window: orangered;
$colortwo:#17c2a4;
$colorthree:#344b8e;



