$font:  'Roboto', sans-serif;
$color-fondo: #42455a;
$color-ancores: #fff;;
$color-btn: #fff;
$gradiente: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
$color-p: #919191;
$color-span:#19dafa;
