@import'../config/_settings';

/*Header*/

#color-one{
    background-color:$colorone;
}

#header{
    position: relative;  
}

/*logo*/
#logo{

    padding-top: 58px;
    padding-left: 42px;
}

/*Menu */

#nav-list{

    padding-top: 53px;
    position: absolute;
    top: 0;
    right: 0;
    
}

#nav-list {

    li{

    list-style: none;
    float: left;
    }

    li + li{

    margin-left: 20px;
    }

    a{

    font-size: 16px;
    color: $font-color;
    text-transform: uppercase;
    text-decoration: none;
    }

}

/* hover del menu */

.a-hover{

    padding: 5px 10px;
    border-radius: 4px;
}

.a-hover:hover{
    background-color: #643a79;
    padding: 5px 10px;
    border-radius: 4px;
}

/* boton */

#color-btn{

    margin-bottom: 145px;
    margin-top: 145px;

    a {

    background-color: $color_boton;
    text-decoration: none;
    width: 294px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color: $font-color;
    text-align:$aling;
    border-radius: 7px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    text-transform: uppercase;
    }

}
.modal{
    background-color:$color_window;
    height:300px;
    width:600px;
    color:$font-color;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    text-align: $aling;
    padding:30px;
    position:absolute;
    border-radius:5px;
    left:25px;
    bottom:20px;
    display:none;
    margin-left: 340px;
    margin-top: 300px;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    
}
.cancelar{
    position: absolute;
    height:40px;
    width: 40px;
    left:600px;
    bottom:315px;
}
#over{
    position:fixed;
    display: none;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
}

.pixel{
    width: 30%;
    height: 30%;
}



#miModal a:hover{
    background-color:#c9501a;
}

/* espacio entre el h1 y el boton */

#color-btn h1{
    margin-bottom: 63px;
}