body {
  margin: 0;
  padding: 0;
  background-image: url(../img/fondo.jpg);
  background-size: cover; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative; }

.wrapper-info {
  position: absolute;
  right: 50px;
  top: 10px;
  background-color: #f8f4f4;
  border: 2px solid #e6e3e3;
  width: 400px;
  color: #f8f4f4;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 9px 0px rgba(209, 209, 209, 0.49); }

.form {
  width: 300px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*GLOBALES*/
h1 {
  color:#473b38;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  position: absolute;
  top: 200px;
  left: 360px; }

h5 {
  color:#7b8a4b;
  margin-bottom: 15px;
  text-transform: uppercase; }

/*-------------ICON-----------*/
.box-icon {
  width: 12px;
  background-color: #e9e7e7;
  border: 1px solid #b8b2b2;
  padding: 10px 10px 16px 10px;
  float: left; }

.form-text {
  margin: 0 auto;
  margin-top: 20px; }

.account {
  background-color: #e9e7e7;
  border: 1px solid #b8b2b2;
  color: #727272;
  padding: 10px 80px 13px 10px;
  float: left;
  margin-bottom: 10px;
  margin-left: -1; }
  .account :hover {
    background-color: #cecece; }
  .account :focus {
    outline: none; }

/*-----------DATE-----------*/
.form-date {
  margin-top: 20px; }
  .form-date input {
    padding: 8px 28px; }

/*-----------GENDER-----------*/
.gender {
  margin-top: 20px; }

.gender-radio {
  background-color: #778b35;
  padding: 8px 15px 8px 12px;
  text-align: center;
  float: left;
  border-radius: 5px;
  color: white;
  font-size: 15px; }
  .gender-radio :hover {
    background-color: #5e721a; }

.gender-radio + .gender-radio {
  margin-left: 15px; }

.pyment {
  margin-top: 20px; }

.pyment-buttons {
  background-color: #778b35;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px; }
  .pyment-buttons :hover {
    background-color: #5e721a; }
  .pyment-buttons :focus {
    outline: none; }

.visa {
  width: 20px;
  height: 10px;
  padding-right: 5px; }

.paypal {
  width: 34px;
  height: 12px;
  padding-right: 5px; }

.terminos {
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 20px;
  font-size: 12px;
  color: gray;}

.enviar {
  background-color: #778b35;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-left: 90px; }
  .enviar :hover {
    background-color: #5e721a; }
  .enviar :focus {
    outline: none; }
