@import'../config/settings';

/* Div del header con el menu */
.nav-menu{
    display: inline-flex;
    margin: 50px;

    li{
        list-style: none;
        margin: 0 20px;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color:$color-ancores;
    }
}
/* boton de iniciar sesion */

.nav-menu-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: $color-btn;
    border: 2px solid transparent;
    border-radius: 5px;
    background-image: $gradiente;
    background-origin: border-box;
    background-clip: content-box,border-box;


    span{
        display: block;
        padding: 8px 22px;
    }
}

