$font-color:#f8f4f4;
$border: #e6e3e3;
$color-text:gray;
$title-color:#473b38;
$subtitle-color: #7b8a4b;
$icon: #e9e7e7;
$border-icon:#b8b2b2;
$account:#727272;
$account-hover: #cecece;
$radio-color: #778b35;
$radio-hover: #5e721a; 
$payment-color:#778b35;
$payment-text:white;
$font-size: 90px;


