/*-------------ICON-----------*/
.box-icon {
    width: 12px;
    background-color: $icon;
    border: 1px solid $border-icon;
    padding: 10px 10px 16px 10px;
    float: left; 
}

.form-text {
    margin: 0 auto;
    margin-top: 20px; 
}

.account {
    background-color: $icon;
    border: 1px solid $border-icon;
    color: $account;
    padding: 10px 80px 13px 10px;
    float: left;
    margin-bottom: 10px;
    margin-left: -1; 

    :hover {
        background-color: $account-hover; 
    }
    :focus {
        outline: none; 
    }
}
/*-----------DATE-----------*/
.form-date {
    margin-top: 20px; 

    input {
        padding: 8px 28px; 
    }
}
/*-----------GENDER-----------*/
.gender {
    margin-top: 20px; 
}
.gender-radio {
    background-color: $radio-color;
    padding: 8px 15px 8px 12px;
    text-align: center;
    float: left;
    border-radius: 5px;
    color: $payment-text;
    font-size: 15px; 

    :hover {
        background-color: $radio-hover; 
    }

}
.gender-radio + .gender-radio {
    margin-left: 15px; 
}

.pyment {
    margin-top: 20px; 
}

.pyment-buttons {
    background-color: $payment-color;
    border: none;
    color: $payment-text;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px; 

    :hover {
        background-color: $radio-hover; 
    }
    :focus {
        outline: none; 
    }
}
.visa {
    width: 20px;
    height: 10px;
    padding-right: 5px; 
}
.paypal {
    width: 34px;
    height: 12px;
    padding-right: 5px; 
}


.terminos {
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 12px; 
}

.enviar {
    background-color: $radio-color;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 90px; 

    :hover {
    background-color: #5e721a; 
    }
    :focus {
    outline: none; 
    }

}